@charset "utf-8";
/* CSS Document */
body{
	font-size:12px;
	background:#F8F8F8;
	font-family:"宋体";
}
.left-nav ul{
	width:250px;
	background:#fff;
	position:relative;
	z-index:0;
	/* padding:60px 20px 70px; */
	display: inline-block;
	vertical-align: top;
}
.left-nav ul li{
	height:70px;
	line-height:70px;
	text-align:center;
	border-bottom:1px solid #F8F8F8;
}	
.left-nav ul li a{
	color:#666;
	display:block;
}	
.left-nav ul li a:hover{
	color:#99cc33;
	text-decoration:none;
}	
.left-nav ul li a.hover{
	color:#99cc33;
}	
#lanPos{
	width:250px;
	height:60px;
	line-height:60px;
	margin-top:5px;
	border-left:5px solid #99cc33;
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	transition:top .2s;
}
.vedio-card{
    -moz-box-shadow: 0 0 5px #f6f6f6;
    box-shadow: 0 0 5px #f6f6f6;
    background: #fff;
    border-radius: 5px;
}
.my-tests-right{
    margin-left:270px;
    
}